on: 
  push:
    branches:
      - main
jobs:
    build:
      name: Build APK
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.5.4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk --release --target-platform android-arm,android-arm64,android-x64
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/app/outputs/apk/release/*.apk